body{
    margin: 0;
    background-color: #2C3E50;
    display: flex;
    flex-direction: column;

}
.top{
    /* background-color: aliceblue; */
    height: 50vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    flex-grow: 1;
}
.top_titel{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10px;
    flex-grow: 1;
}
.top_header{
    color: #2ECC71;
    margin:3px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.line{
    width: 100%;
    color: #2ECC71;
}
.top_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add_person{
    position: relative;
    height: 320px;
    background-color: rgb(106, 110, 107);
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input1{
    background-color: rgb(183, 185, 188);
    width: 450px;
    height: 20px;
    margin: 5px;
}
.top_main_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.select_top_main{
    background-color: rgb(183, 185, 188);
    width: 400px;
    margin: 5px;

}
.add_person_button{
    width: 400px;
    margin: 5px;
    color: white;
    background-color:#2ECC71;
}





.down_main{
    margin: 0;
    /* background-color: rgb(106, 110, 107); */
    height: 50vh;
    width: 100wh;
    flex-grow: 1;
    border-radius: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    /* align-items: center; */
    position: relative;
}
.top_titel2{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10px;
    /* flex-grow: 1; */
    position: relative;
}
.top_header2{
    color: #2ECC71;
    margin:3px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.line2{
    width: 100%;
    color:#2ECC71;
    margin: 0;
}
.the_tabel{
    /* flex-grow: 4; */

    /* position: relative;
    top: 0; */
    /* flex-grow: 1; */  

    /* overflow: auto; */
}
table {
    position: relative;
    top: 25px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;



    /* background-color: ; */
    
    /* display: block; */
    /* height: 100%; */
    /* margin: 3px; */
  }
  
  td, th {
    border: 1px solid #dedada;
    text-align: left;
    padding: 8px;

  }
  
  tr:nth-child(even) {
    /* background-color: #dddddd; */
  }
  .full_name_hedear{
    background-color: #2ECC71;
}
.action_button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.in_action_button{
    width: 100px;
    height: 20px; 
    margin: 3px; 
    background-color: #2ECC71;
}